@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

* {
    margin: 0;
    box-sizing: border-box;
}

.first {
    height: 90vh;
}

section {
    background-color: #543647;
    color:#f6d965;
    height: 100vh;
    width: 100%;
    padding: 0 10%;
    display: table;
    margin: 0;
    max-width: none;
}
section>div>img {
    padding: 5% 5%;
    display: block;
    margin: auto;
}
section>div>p {
    color: #fff;
}

section:nth-child(odd) {
    background-color: #fff;
    color:#543647;
}
section:nth-child(odd)>div>p {
    color: #333;
}



.content {
    display: table-cell;
    vertical-align: middle;
}
.content>div>table {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.pr {
    margin: 5% 5%;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

table {
    min-width: 30rem;
}

thead>tr {
    background-color: #f6d965 !important;
}
tr:nth-child(2n) {
    background-color: #fff;
}
tr:nth-child(2n+1) {
    background-color: #ecf0f1;
}

.end-quote {
    text-align: center;
    color: white !important;
    background-color: #000 !important;
}
.end-quote>div>h2 {

    background-color: #ff4f42;
}

h1 {
    font-family: 'Old Standard TT';
    font-size: 84px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: -0.02em;
    overflow-wrap: normal;

}


p {
    font-family: 'Merriweather';
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
}

a {
    border-bottom: 4px solid #f6d965;
    background-color: #543647;
    color: #fff;
    text-decoration: none;
}

a:hover {
    border-bottom: 4px solid #ddd;
    color: #f6d965;
}

footer {
    padding: 2% 5%;
    text-align: center;
    background-color: #f6d965;
    color: #543647;
    font-weight: 400;
}
footer a {
    color: white;
    background-color: #f6d965;
    font-weight: 700;
    text-decoration: none;
}
footer a:hover {
    color: #543647;
}